/* --------------------------- */
/* --------------------------- */
/* ----- HOJA DE ESTILOS ----- */
/* --------------------------- */
/* --------------------------- */

body {
	color: white;
	background-color: #0b2857;
	background-image: url('../img/winner.png');
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 2.8%;
	margin-top: 0;
}

#principal {
	margin: 0 auto;
	width: 1200px;
}

/* TABLA */

	table {
		border-collapse: collapse;
		width: 95%;
		margin: 0 auto;
		text-align: center;
		background-color: #0b2857;
	}

	td {
		padding-top: 0;
	}

/* BARRA LATERAL MENÚ */

.columna1 {
	width: 20%;
	vertical-align: top;
	background-color: #051836;
}

	/* Imagen FOCYL */

	img {
		width: 60%;
		margin-top: 50px;
	}

	/* Menú */

	ul {
		text-align: center;
		list-style: none;
		margin-left: 0;
		padding-left: 0;
		padding-top: 30px;
		font-family: arial black;
		line-height: 30px;
	}

	.restoli {
		margin-top: 0px;
		margin-bottom: 10px;
	}
	
	/* Hover Menú */
	li:hover {
		background-color: white;
		color: #0b2857;
	}

	.html5 {
		width: 25%;
		margin-top: 10px;
		opacity: 0.5;  				 /* OPACIDAD EN IMAGEN */
	}

/* COLUMNA HOLA */

.columna2 {
	padding-bottom: 20px;
	padding-top: 10px;
	padding-left: 0;
	vertical-align: top;
}

	/* Título HOLA! */

	h1 {
		width: 100%;
		text-align: left;
		font-family: arial;
		margin: 0 0 10px 20px;
	}

	/* Títulos Lorem Ipsum */

	h4 {
		width: 80%;
		text-align: left;
		font-family: verdana;
		margin: 5px 0 0 20px;
	}

	/* Párrafo HOLA! */

	.hola {
		text-align: left;
		font-family: calibri;
		margin: 0 20px 0 20px;
		padding-top: 10px;
	}

/* COLUMNA TABLET */	

.tablet {
	width: 100%;
	margin: 0 auto;
}

/* FILA HACIENDO LAS COSAS */

.haciendo {
	font-weight: bold;
	font-family: arial;
	padding: 10px;
}

text {
	background-color: rgba(41, 65, 171, 0.2);
	padding: 10px;
}

/* COLUMNAS DE LAS IMÁGENES */

	.penege {
	vertical-align: top;
	width: 19%;
	}

	.penegeimagen {
		margin-top: 20px;
	}

	/* Línea separadora imágenes */

	.fila3 {
		border: 1px solid yellow;
		width: 70%;
		margin-top: 20px;
	}

	/* Párrafos columnas imágenes */

	.cuartocol {
		text-align: left;
		margin: 20px;
		font-family: verdana;
	}

/* FILA LÍNEA SEPARADORA */

.celdahr {
	padding: 10px;
	margin: 0;
}

hr {
	width: 50%;
	border: 1px dashed lightgrey;
	margin: 10px auto;
}


/* ÚLTIMA FILA */

	/* Última Fila: Columnas */
	.ultimatd {
		text-align: left;
		padding-top: 20px;
		padding-bottom: 0px;
	}

	/* Títulos H3 */
	.ultimah3 {
		text-align: left;
		font-family: verdana;
		margin-left: 20px;
		margin-bottom: 0;
	}

	/* Títulos H2 */
	.ultimah2 {
		text-align: left;
		margin-left: 20px;
		font-family: verdana;
		margin-top: 0px;
	}

	/* Párrafos Última Fila */
	.ultimap {
		text-align: left;
		font-family: verdana;
		font-size: 0.8rem;
		padding: 0 20px;
	}

	/* Imágenes Última Fila */
	.pacman {
		width: 100%;
		margin: 0;
	}